@mixin button() {
  color: $lightest !important;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  display: inline-block;
  padding: 0 20px;
  border: none;
  border-radius: 3px;
  transition: all 0.1s ease-in-out;

  &:hover, &:focus {
    border: none;
    transform: translate3d(0, -3px, 0);
  }

  &:active {
    border: none;
    transform: translate3d(0, 3px, 0);
  }
}

.button--default {
  @include button;
  background-color: $blue;
  box-shadow: $blue-shade 0 4px 0, rgba($darkest, 0.3) 0 10px 20px;
  margin-bottom: 20px; // set margin to separate multiple buttons

  &:only-of-type { margin-bottom: 0; } // and unset margin when buttons are alone

  &:hover, &:focus {
    box-shadow: $blue-shade 0 4px 0, rgba($darkest, 0.2) 0 15px 30px;
  }

  &:active {
    box-shadow: $blue-shade 0 4px 0, rgba($darkest, 0.4) 0 5px 10px;
  }
}

.button--major {
  @include button;
  background-color: $green;
  box-shadow: $green-shade 0 4px 0, rgba($darkest, 1) 0 10px 20px;

  &:hover, &:focus {
    box-shadow: $green-shade 0 4px 0, rgba($darkest, 0.8) 0 15px 30px;
  }

  &:active {
    box-shadow: $green-shade 0 4px 0, rgba($darkest, 1) 0 5px 10px;
  }

  .header--global &,
  .footer--global & {
    -webkit-font-smoothing: subpixel-antialiased; // make text more readable on buttons in header/footer
    text-shadow: none; // prevent accidental text-shadow in header/footer
  }
}

@media (min-width: 700px) {
  .button--default,
  .button--major {
    line-height: 42px;
    font-size: 1.25rem;
  }

  .section--heading { // move buttons to right of heading on home page
    .button--default {
      .text-heading-one + &,
      .text-heading-two + &,
      .text-heading-three + & {
        float: right;
      }
    }
  }
}
