/* All HubSpot Forms
   ========================================================================== */
.hbspt-form { // make styles more specific than head styles inserted by hubspot
  max-width: 100%;

  /* Form Field (selector for form field wrapper) */
  .hs-form .hs-form-field {
    padding-bottom: 1.5rem; // reserve area for error messages
    position: relative;
    margin-bottom: 0.5rem;
  }

  /* Labels (selects field labels and error messages) */
  .hs-form .hs-form-field > label {
    font-family:  Merriweather, serif;
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 0.375rem;
    display: inline-block;
  }

  .hs-form .hs-field-desc {
    font-family: Merriweather, serif;
    font-size: 0.75rem;
    font-style: italic;
    float: right;
    padding-top: 4px;
  }

  /* Inputs (selectors for all inputs)  */
  .hs-form input[type="text"],
  .hs-form input[type="email"],
  .hs-form input[type="tel"],
  .hs-form textarea,
  .hs-form select {
      -webkit-appearance:none;
      height: 3rem;
      padding: 0 0.5rem !important;
      background-color: #fff;
      border-radius: 6px;
      border: 6px solid rgba($blue, 0.3);
      font-family: inherit;
      font-size: 1rem;
      width: 100%;
      transition: all 0.2s linear;
  }

  .hs-form textarea {
    line-height: 1.846;
    min-height: 10rem;
    padding: 0.5rem important;
  }

  .hs-form select {
    text-indent: 0;
    font-size: 0.9375rem;
  }

  /* Inputs in focus (selectors for all inputs when clicked)  */
  .hs-form input[type="text"]:focus,
  .hs-form input[type="email"]:focus,
  .hs-form input[type="tel"]:focus,
  .hs-form textarea:focus,
  .hs-form select:focus {
    border-color: $blue;
    outline: 0;
  }

  /* Error message (selector for validation messages) */
  .hs-form .hs-error-msgs {
    padding: 0 !important;
    margin: 0 !important;
    position: absolute;
    bottom: 0;
  }

  .hs-form .hs-error-msgs li {
    margin: 0;
    padding: 0 0.25em;
    font-size: 0.75rem;
    list-style-type: none;
    background-color: $yellow;
    border: 1px solid #fff;
  }

  /* Submit buttons (selectors for all non-CTA buttons)
     ========================================================================== */
  .hs-form input[type="submit"] {
    @extend .button--default;
  }
}

@media (min-width: 700px) {
  .hbspt-form {
    max-width: 65.667%;
  }
}