.value-list {
  margin: 0 auto;
  max-width: 100%;
  font-size: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;

  .value {
    display: block;
    vertical-align: top;
    width: 100%;
    margin: 0 3% 3vw 0;
    text-align: left;
  }

  .value-image-wrap {
    margin: -0.9375rem -0.9375rem 0.9375rem -0.9375rem;
    padding: 0.9375rem;
    background-color: $neutral-gray;
  }

  .value-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  p {
    width: 100%;
  }
}

@media (min-width: 500px) {
  .value-list {

    .value {
      width: 48.5%;

      &:nth-child(2n) { margin-right: 0; }
    }
  }
}