.work-list {
  margin: 0 auto;
  max-width: 100%;
  font-size: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;

  .work {
    display: block;
    vertical-align: top;
    width: 100%;
    margin: 0 3% 3vw 0;
    text-align: left;
  }

  .work-image-wrap {
    margin: -0.9375rem -0.9375rem 0.9375rem -0.9375rem;
  }

  .work-image {
    width: 100% !important;
    margin: 0;
  }

  p,
  ul {
    width: 100%;
  }
}

@media (min-width: 500px) {
  .work-list {

    .work {
      width: 48.5%;

      &:nth-child(2n) { margin-right: 0; }
    }
  }
}