//Colors
$green:             #00B968;
$green-tint:        #5CD19E; // lighter
$green-shade:       #1C9E66; // darker
$blue:              #0088A3;
$blue-tint:         #00A5CA; // lighter
$blue-shade:        #0E4A55; // darker
$yellow:            #F7D200;

$darkest:           #1D2625;
$dark-gray:         #183330;
$middle-gray:       #2C4A47;
$light-gray:        #365451;
$lightest-gray:     #F0F6F7;
$neutral-gray:      #F3F3F3;
$lightest:          #FFFFFF;
