<footer class="footer--global">
  <section>
    <div class="container">
      <div class="split-in-two">
        <h2 class="text-heading-two">Let’s talk</h2>
        <ul>
          <li><span class="icon icon--email-lightest"></span><a href="mailto:hello@eastcoastproduct.com">hello@eastcoastproduct.com</a></li>
          <li><span class="icon icon--phone-lightest"></span><a href="tel:+18667777459">(866)777-7459</a></li>
        </ul>
        <a href="<%- level %>contact#experts" class="button--major">Talk to an expert</a>
      </div>
      <div class="split-in-two">
        <h2 class="text-heading-two">Find us online</h2>
        <ul>
          <li><span class="icon icon--facebook-lightest"></span><a href="http://facebook.com/eastcoastproduct" target="_blank">Facebook</a></li>
          <li><span class="icon icon--twitter-lightest"></span><a href="https://twitter.com/ECPBoston" target="_blank">Twitter</a></li>
          <li><span class="icon icon--linkedin-lightest"></span><a href="http://linkedin.com/company/eastcoastproduct" target="_blank">LinkedIn</a></li>
          <li><span class="icon icon--github-lightest"></span><a href="https://github.com/EastCoastProduct" target="_blank">Github</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <h2 class="text-heading-two">Find us IRL</h2>
      <div class="split-in-two">
        <a href="https://www.google.com/maps/place/51+Melcher+St,+Boston,+MA+02210/@42.3492404,-71.0522346,17z/data=!3m1!4b1!4m5!3m4!1s0x89e37a7fd91a79e3:0xcd8cefbf58725cf!8m2!3d42.3492404!4d-71.0500459" class="map">
          <img src="<%= level %>images/maps/map-boston.png" alt="City of Boston map" />
        </a>
        <p>51 Melcher St<br>
        Boston, MA 02210</p>
      </div>
      <div class="split-in-two">
        <a href="https://www.google.com/maps/place/Krbavska+ul.+29,+21000,+Split,+Croatia/@43.514593,16.4737064,17z/data=!3m1!4b1!4m5!3m4!1s0x13355e39fd8c4791:0xce7e5e471f917427!8m2!3d43.514593!4d16.4758951" class="map">
          <img src="<%= level %>images/maps/map-split.png" alt="City of Split map" />
        </a>
        <p>Krbavska ulica 29<br>
        21000 Split, Croatia</p>
      </div>
    </div>
  </section>
  <div class="footer--logo"></div>
</footer>
<% include analytics %>