<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body class="area-work">
    <% include partials/header %>
    <main>
      <section id="contents">
        <div class="container">
          <div class="card targetable">
            <%- contents %>
          </div>
        </div>
      </section>
    </main>
    <% include partials/footer %>
    <!-- browser controls easter egg -->
    <script>
      var toBeRemoved = document.getElementById("to-be-removed");
      var closeBrowserButton = document.getElementById("close-browser-button");
      closeBrowserButton.onclick = function() {
        toBeRemoved.remove();
      };
    </script>
    <!-- end of browser controls easter egg -->
  </body>
</html>
