<!doctype html>
<html lang="en">
  <% include partials/head %>
  <body class="area-error">
    <% include partials/header %>
    <main>
      <section id="site-map">
        <div class="container">
          <header class="section--header">
            <h1 class="text-heading-one">Site Map</h1>
          </header>
          <div class="card targetable">
            <%- contents %>
          </div>
        </div>
      </section>
    </main>
    <% include partials/footer %>
  </body>
</html>
